@media (max-width: 1437px) {
  header .secondar_menuBar {
    padding: 0rem 1rem;
  }
  .primary_menuBar {
    padding: 0 1rem;
  }
}

@media (max-width: 1250px) {
  .primary_menuBar > ul > li {
    padding: 1.5rem 1rem;
  }
}

/* --MEDIA QUERY WHICH IS SAME FOR TABLET AND MOBILE DESIGN --*/
@media (min-width: 375px) and (max-width: 1024px) {
  /* //header */
  header {
    position: static;
  }
  header .secondar_menuBar {
    gap: 1rem;
    padding: 1rem;
  }
  .primary_menuBar {
    display: none;
  }
  .section-1 {
    margin-top: 0rem;
  }
  .primary_menuBar {
    padding: 0 1rem;
  }
  header .widget_Area {
    display: none;
  }
  header .secondar_menuBar .support_wishlist #theme_Button {
    display: none;
  }
  header .secondar_menuBar .search_bar input {
    padding: 0.6rem 3rem;
  }
  .main_logo img:first-child {
    width: 40px;
  }
  .main_logo img:last-child {
    width: 60px;
  }
  .mobile-icons {
    display: flex;
    gap: 0.5rem;
  }
  .mobile-icons img {
    width: 20px;
  }
  .mobile-icons button {
    border: none;
    outline: none;
    background-color: transparent;
  }

  /* mobile off-canvas menu */
  .accordion-item {
    margin-bottom: 5px;
  }

  .accordion-header {
    background-color: white;
    padding: 1rem 2rem;
    cursor: pointer;
    border-bottom: 1px solid rgba(59, 99, 38, 0.2);
  }

  .accordion-content {
    display: none;
    padding: 10px;
  }
  .accordion-content li {
    list-style: none;
  }
  .accordion-content a {
    text-decoration: none;
    color: var(--paragraph-clr);
  }
  .accordion {
    position: fixed;
    width: 65%;
    min-height: 100vh;
    background: white;
    top: 0;
    right: -100%;
    margin-bottom: 10px;
    display: block;
    background-color: white;
    z-index: 9999;
    transition: right 0.3s ease-in-out;
    height: 100%;
    overflow-y: auto;
  }
  .accordion.open {
    right: 0;
  }
  .accordion #backArrow {
    width: 30px;
    margin: 2rem;
  }
  .menu-column {
    align-items: start;
    padding: 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(59, 99, 38, 0.2);
  }
  .menu-column ul > li {
    padding: 0.5rem 1.2rem;
  }
  .strain {
    gap: 1rem;
    padding: 0;
    justify-content: flex-start;
    border-bottom: none;
    padding: 0.5rem 1rem;
  }
  .accordion-content li {
    list-style: none;
    padding: 0.5rem 1.2rem;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay color */
    z-index: 9998; /* Set z-index below offcanvas menu */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s; /* Smooth transition effect */
  }

  .overlay.open {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s; /* Remove transition delay */
  }
  /* mobile off-canvas menu */

  /* //header */

  /* section-1 */
  .section-2 .owl-carousel.owl-loaded {
    width: 80%;
    padding-right: 0rem;
  }
  .section-2 .owl-theme .owl-nav {
    margin-top: 0px !important;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 117%;
    font-size: 5rem;
    left: -8%;
    top: 50%;
  }
  /* //section-1 */

  /* section-5 */
  .section-5 .owl-theme .owl-nav {
    z-index: 0;
  }
  .section-5 .item .product-image {
    height: 24rem;
  }
  /* //section-5 */
}
/* --//MEDIA QUERY WHICH IS SAME FOR TABLET AND MOBILE DESIGN --*/

/* ----------------MEDIA QUERY TABLET DESIGN------------ */
@media (min-width: 675px) and (max-width: 1024px) {
  /* header */
  header .secondar_menuBar .search_bar input {
    padding: 1rem rem 3rem;
  }
  .mobile-icons img {
    width: 32px;
  }
  .mobile-icons {
    gap: 1rem;
  }
  .main_logo img:first-child {
    width: 70px;
  }
  .main_logo img:last-child {
    width: 100px;
  }
  /*// header */

  /* section1 */
  .section-1 {
    background-image: url("/assets/bannerImage-mobile.svg");
    background-position: center;
  }
  .section-1 .btn-container {
    width: 14rem;
    border: none;
    margin-top: 1rem;
  }
  .section-1 .hero-section {
    justify-content: center;
    width: 100%;
    align-items: center;
    padding-top: 5rem;
    text-align: center;
  }
  .section-1 p {
    margin-left: 0rem;
  }
  /* //section1 */

  /* section-2 */
  .section-2 .average_reviews {
    width: 100%;
    text-align: center;
    align-items: center;
  }
  .section-2 .average_reviews img {
    width: 120px;
  }
  .section-2 .reviews {
    gap: 4rem;
    flex-direction: column;
  }
  .leaf-seperator {
    width: initial;
  }
  /* //section-2 */

  /* section-3 */
  .section-3 .products {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .section-3 .products .column {
    height: 22rem;
    background-size: cover;
  }
  .section-3 .leaf-seperator {
    margin-top: 5rem;
  }
  /* //section-3 */

  /* section-4 */
  .section-4 .feature {
    width: 12.6875rem;
    height: 12.0625rem;
  }
  .section-4 .feature span {
    font-size: 1rem;
  }
  /* //section-4 */

  /* //section-6 */
  .section-6 .CBD-uses h1 {
    text-align: center;
  }
  .section-6 .use .l-side img {
    width: 80px;
  }
  .section-6 .use .l-side {
    gap: 1rem;
  }
  .section-6 .use .l-side h2 {
    font-size: 1.25rem;
    line-height: 2rem;
  }
  /* //section-6 */
}
/* ----------------//MEDIA QUERY TABLET DESIGN------------ */

/* -----------*********------*********------***********--------- */

/* ----------------MEDIA QUERY MOBILE DESIGN------------ */
@media (min-width: 375px) and (max-width: 675px) {
  header .secondar_menuBar .search_bar input {
    padding: 0.6rem 1rem;
  }
  header .secondar_menuBar .search_bar img {
    top: 25%;
  }

  /* section-1 */
  .section-1 {
    background-image: url("/assets/bannerImage-mobile.svg");
    background-position: center;
  }
  .section-1 h1 {
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 500;
  }
  .section-1 .btn-container {
    width: 14rem;
    border: none;
    margin-top: 1rem;
  }
  .section-1 .hero-section {
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    padding-top: 5rem;
    text-align: center;
  }
  .section-1 p {
    margin-left: 0rem;
  }
  .section-2 .owl-theme .owl-nav {
    width: 136%;
    font-size: 5rem;
    left: -17%;
    top: 50%;
  }

  .cta-btn {
    border: none;
    padding: 0.7rem;
    font-size: 1rem;
  }
  /* //section-1 */

  /* section2 */
  .section-2 .reviews {
    gap: 2rem;
    flex-direction: column;
  }
  .section-2 .average_reviews {
    width: 100%;
    text-align: center;
    align-items: center;
  }
  .section-2 .average_reviews img {
    width: 120px;
  }
  .section-2 .item {
    text-align: center;
    align-items: center;
  }
  .leaf-seperator {
    margin-top: 5rem;
  }
  .leaf-seperator img:nth-of-type(1) {
    width: 120px;
  }
  .leaf-seperator img:nth-of-type(3) {
    width: 120px;
  }
  /* section2 */

  /* section-3 */
  .section-3 .products {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .section-3 .products .column h1 {
    font-size: 1rem;
    padding: 0 0 1rem 1rem;
  }
  .section-3 .products .column {
    height: 10rem;
    background-size: cover;
  }
  .section-3 .product-types {
    gap: 3rem;
  }
  .section-3 .product-types > h1 {
    font-size: 1.25rem;
  }

  /* //section-3 */

  /* section-4 */
  .section-4 .feature {
    width: 12.6875rem;
    height: 12.0625rem;
  }
  .section-4 .feature span {
    font-size: 0.625rem;
  }
  .section-4 .feature {
    width: 7.6875rem;
    height: 7.0625rem;
    gap: 1rem;
  }
  .section-4 .features img {
    width: 35px;
  }
  .section-4 .features {
    gap: 1rem;
  }
  .section-4 .heading h1 {
    font-size: 1.25rem;
  }
  .section-4 .heading p {
    font-size: 1rem;
  }
  /* //section-4 */

  /* section-5 */
  .section-5 {
    padding: 0;
  }
  .section-5 .best-sellProducts > h1 {
    font-size: 1.25rem;
    padding-bottom: 5rem;
  }
  /* //section-5 */

  /* section-6 */
  .section-6 {
    padding: 0;
  }
  .section-6 .CBD-uses h1 {
    font-size: 1.25rem;
    padding-bottom: 0;
    text-align: center;
    line-height: 2rem;
  }
  .section-6 .use .l-side img {
    width: 80px;
  }
  .section-6 .use .l-side {
    gap: 1rem;
  }
  .section-6 .use .l-side h2 {
    font-size: 1.25rem;
    line-height: 2rem;
  }
  .section-6 .use {
    flex-direction: column-reverse;
  }
  .section-6 .use:nth-of-type(2) {
    flex-direction: column;
  }
  .section-6 .use .l-side {
    width: 100%;
  }
  .section-6 .use .r-side {
    width: 100%;
  }
  .section-6 .use .l-side img {
    width: 60px;
  }
  /* //section-6 */

  /* section-7 */
  .section-7 .accordion2 .contentBx .label {
    font-size: 0.85rem;
    padding: 1rem;
  }
  .section-7 .accordion2 .contentBx .label li {
    list-style: none;
    padding-right: 2rem;
  }
  .section-7 .accordion2 .contentBx p {
    font-size: 0.85rem;
    line-height: 1.3rem;
    padding-right: 0rem;
  }
  .section-7 .accordion2 .contentBx .label::after {
    right: 5%;
}
.section-7 {
  padding:0;
}
.section-7 .faq h1 {
  font-size: 2.25rem;
}
  /* //section-7 */
}
/* ----------------//MEDIA QUERY MOBILE DESIGN------------ */
